html,body {
  height: 100%;
  /*font-family: 'Droid Sans Mono', sans-serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p,h1,h2,h3,h4 {
  /*font-family: 'Droid Sans Mono', sans-serif;*/
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.containerabout
{
	margin-bottom:20px;
}
.logoimage
{
	margin-top:-10px;
}
.page-container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* negative indent footer by its height */
  /*margin: 0 auto -120px;*/
  /* pad bottom by footer height */
  /*padding: 0 0 120px;*/
}
div.orderpanel{
	/*display:none;*/
}
.panelheader:hover{
	background-color: #649B33;
	color:#FFF;
	text-decoration:none;
}
.panel-heading {
    padding: 0;
}
.panel-heading a{
    display: block;
    padding: 10px 15px;
}
.btn-counter
{
	background-color: #FF962e;
	color: #ffffff;
	/*background-color: #FFDE6F;*/
}
.btn-counter:hover{
	background-color: #ffffff;
	color: #FF962e;
}

#btnprofilename
{
  color: #FFF;
  background-color: #649B33;
  border-color: #ccc;
}
h3
{
font-family: 'Archer SSm A', 'Archer SSm B';
color: #6f6b5e;
font-size: 30px;
font-weight: normal;
}
.orderprocesscontainer
{
	text-align:center;
}
.aboutuscontainer{
	text-align: left;
	color:rgb(107, 103, 103);
}
.deliverypricerow
{
	background-color: rgb(228, 221, 221);
}
.contactfootercontainer
{
	color:#C27E3A;
	margin-bottom: 0px;
	margin-top:5px;
}
.footerheader
{
	color:rgb(107, 103, 103);
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;

}
.fastandfreshheader{
	color:#ff962e;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width:100%;
}

.itemcontainer{
	padding-left:4px;
	padding-right:3px;
}
.thumbnail{
	height: 250px;
}
.thumbnailimage{
	height: 115px;
	text-align: center;
}
#sidebar li a.active{
  color: rgb(255, 150, 46);
font-size: 16px;
font-weight: bold;
}
li.active>a
{
	color: #ff962e;
font-size: 16px;
font-weight: bold;
}

footer {
  /*height: 120px;*/
  background-color: #222222;
  border:0 solid #080808;
  border-top-width: 1px;
  margin-top:50px;
}
.cartrow
{
	height: 50px;
	vertical-align: middle;
	text-align: right;
}
.addglyphicon
{
	float:left;
	width:100%;
	padding-left: 6px
}
.removeglyphicon
{
	float:left;
	width:100%;
	padding-left: 6px
}
.inputcartcount
{
	float:left;
	width:100%;
}
footer > .container {
  padding: 20px;
}
.cartinfo{
	text-align: center;
}
.cartitemname{
	width:150px;
}
.cartitemcount{
	width:100px;
}


.mainmenu{
	background-color: #ffffff;
}
.categoriessidebar{
}
.nav-sidebar>li>a:hover {
	color: #ff962e;
	padding-left:22px;
	background-color: #ffffff;
}

.nav>li>a{
	/*color:#649b33;*/
}
.sectionholder{
	/*border-bottom:1px dotted #ff962e;*/
	padding-bottom:15px;
}
.mainheader{
	background-color: #649b33;
	border-left:2px solid white;
	border-right:2px solid white;
	border-bottom:2px solid white;

	-moz-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: 0 0 5px gray;.
	-webkit-box-shadow: 0 0 5px gray;
	box-shadow: 0 0 5px gray;
}
.mainheader>ul>li>a{
	color:#ffffff;
}
.fastandfresh-header{
	text-align: left;
}
.caption>h5{
	color:#649b33;
}
.navbar-header{
	float:none;
}



.caption>p>a{
	color:#ff962e
	;}
	.caption>p>a{

	}
	.cartholder
	{
		float:right;
		text-align:left;
	}
	.btn-cart{
		background-color: #ff962e;
		color:#ffffff;
		font-weight: bold;
	}
	.qtyminus,.qtyplus{
		width:25px;
		background-color:#ffffff;
		color:#ff962e;
		/*color:#649b33;*/
		font-weight: bold;
		font-size:18px;
		height:30px;
		text-align: center;
		border:none ;
		/*border:1px solid red;*/
		margin-left:0;
		padding: 0;

	}
	.qty{
		width: 30px;
		height:30px;
		margin-bottom:5px;
		text-align: center;
		border:1px solid #adadad;
	}
	.quantitygroup{
		display:block;
	}
	.itembought
	{
		position:relative;
		float:right;
		height:18px;
		width:18px;
		margin:3px;
		background-color: #ff962e;
		border: 1px solid red;
	}
	.cartcontainer{
		position:absolute;
		float:right;
		margin-top:5px;
		margin-right:7px;
		height:20px;
		width:50px;
	}
	.boughtitems{
		font-weight: normal;

	}
	.navbar-inverse .navbar-toggle {
  border-color: #FDFDFD;
}
label.labelitemunit {
  font-weight: 100;
  padding-top: 4px;
}
	.item_name{
		font-weight: bold;
	}
	.dropdown-menu{
		float:right;
		width:270px;
	}
	.open>.dropdown-menu{
		width:305px;
	}
	.open>.accountdetail
	{
		width:50px;
	}
	.table th{
	}
	.btn-cart label{
		margin:0px;
	}
	.cartitems table{
		background-color: #ff962e;
	}
	#map_canvas {
		width: 500px;
		height: 400px;
	}
	input.error{
		background: #f8dbdb;
		border-color: #e77776;
	}
	.ordertable{
		border:2px solid red;
	}
	.fnftable
	{
		border-left: 1px solid rgb(220, 215, 215);
		border-right: 1px solid rgb(220, 215, 215);
		border-bottom: 1px solid rgb(220, 215, 215);

	}
	table.fnftable input{
		width:30px;
		text-align: center;
		border:2px solid white;
	}
	table.fnftable td,th{
		text-align: left;

	}
	table.fnftable td{
		width:30px;

	}

	